body {
    background: url('moves/moves/background.png') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#myElement, .char {
    height: 84px;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
}

#platform, .platform{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}